@using Portfolio.BlazorApp.Services
@inherits LayoutComponentBase
@inject PageTitleState PageTitleState

@code {
    protected override void OnInitialized()
    {
        PageTitleState.OnChange += OnTitleChanged;
    }
    
    private void OnTitleChanged()
    {
        InvokeAsync(StateHasChanged);
    }
    
    public void Dispose()
    {
        PageTitleState.OnChange -= OnTitleChanged;
    }
}

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <h1>@PageTitleState.Title</h1>
            <a href="about" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>