@page "/"

<h3>Home</h3>

<p>Welcome to the Backend Administration Dashboard. This application provides a comprehensive overview and management tools to administrate the database efficiently and securely.</p>

<p>Use this platform to monitor database status, view tables and records, perform CRUD operations, and manage data integrity with ease.</p>

<p>Designed for developers and database administrators, this app aims to simplify database governance and support seamless data handling workflows.</p>

@code {
    
}